$--color-text: #050505;
$--color-text-muted: #6a6a6a;
$--color-text-muted-border: #c8c8c8;
$--color-background: #fae307;

$--color-primary: #c71415;
$--color-secondary: #e6a623;
$--color-accent: #f9cb84;

$--color-success: #4caf50;
$--color-error: #ee3233;